a2a/a2a-schema.json linguist-generated=true
a2a/a2a-schema.yaml linguist-generated=true
mcp/mcp-schema.json linguist-generated=true
mcp/mcp-schema.yaml linguist-generated=true
CHANGELOG.md linguist-generated=true
